<!-- ./views/index.handlebars -->

<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <h4 class="mb-2">尋找餐廳：</h4>
      <form action="/search">
        <div class="d-flex flex-column flex-sm-row align-items-sm-center gap-2">
          <div class="input-group mb-2 mb-sm-0 mr-sm-2">
            <input type="text" name="keywords" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{ keywords }}" aria-describedby="search-button">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>

          <div class="dropdown">
            <a class="btn btn-warning dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              排序方式
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/">預設排序</a></li>
              <li><a class="dropdown-item" href="/name">A -> Z</a></li>
              <li><a class="dropdown-item" href="/-name">Z -> A</a></li>
              <li><a class="dropdown-item" href="/category">類別</a></li>
              <li><a class="dropdown-item" href="/rating">高評分優先</a></li>
            </ul>
          </div>
       </div>
     </form>
   </div>
 </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    {{#each restaurantsData}}
    <div class="col-12 col-sm-6 col-md-4">
      <a href="/restaurants/{{ this._id }}" class="text-secondary">
        <div class="card mb-3">
          <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}" />
      </a>
          <div class="card-body p-3">
            <h6 class="card-title mb-1">{{ this.name }}</h6>
    
            <div class="restaurant-category mb-1">
              <i class="fas fa-utensils pr-2"></i>
              {{ this.category }}
            </div>
    
            <span class="badge rounded-pill text-bg-danger">
              {{ this.rating }}
              <i class="fas fa-star fa-xs"></i>
            </span>
          </div>
          <div class="card-footer d-flex justify-content-end flex-wrap">
            <a href="/restaurants/{{this._id}}/edit"><button class="btn btn-link btn-sm">Edit</button></a>
            <a href="/restaurants/{{this._id}}"><button class="btn btn-link btn-sm">Detail</button></a>
            <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger btn-sm text-white">Delete</button>
            </form>
          </div>
        </div>
    </div>
    {{/each}}
  </div>
</div>